name: Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        laravel: [6, 7, 8]
        php: [7.3, 7.4, "8.0"]

    steps:
      - uses: actions/checkout@v2

      - name: test against Laravel ${{ matrix.laravel }} on PHP ${{ matrix.php }}
        run: docker build . --build-arg PHP_VERSION=${{ matrix.php }} --build-arg LARAVEL=${{ matrix.laravel }}
